<div class="container">
    <div class="page-title">
        <div>FAQ</div>
    </div>
    <div class="content-box">
        <div>
            <b>What is Ballad?</b><br/>
            Ballad is a time-travel-centric Live Action Role Play (LARP). As a character in Ballad,
            you’ll be from the modern day-- but an unavoidable danger to the past will pull you away on a dire quest to save other times.
            <br />
            <br />
            <b>What is the setting of Ballad?</b> <br/>
            Our story begins in medieval England, at the great castle of Camelot. The young King Arthur has ruled the kingdom
            with great wisdom and grace. With the Lady Guinevere at his side and the knights of the round table to support it
            seemed a time of great peace was upon Camelot. However, King Arthur faces a threat to his rule like nothing he's seen before.
            The people act strangely to one another, abandoning their crafts and their livelihoods.  In desperation, King Arthur has turned
            to the wizard Merlin. A trusted advisor to the court and aide to the people, Merlin’s skill in the arcane may be the only option
            left for the Arthur and his people.
            <br />
            <br />
            <b>How do I play?</b> <br/>
            Ballad begins in Spring 2017. For registration information, see the <a ui-sref="events">events</a> page. You'll also need to create a character,
            which you can do using the information on the <a ui-sref="rules">rules</a>.
            <br />
            <br />
            <b>How do I help?</b> <br/>
            If you're interested in being a monster or an NPC, contact a member of staff!
        </div>
    </div>
</div>